<div class="about">
    <a id="about" class="anchor-helper"></a>
    <img class="about__image" src="../assets/images/fotoNoe.jpg" alt="Foto de Noelia">
    <div class="about__text">
        <p>Aplicaba a mi vida eso de "más vale lo viejo conocido que lo bueno por conocer", hasta que tome la difícil decisión de <span class="about__text--resalt">salir de mi área de confort</span> y convertirme en <span class="about__text--resalt">desarrolladora Front-End</span>.</p><br>
        <p>Saliendo del sector de la estética personal, soy <span class="about__text--resalt">maestra en pasar por "chapa y pintura"</span> a las personas. ¡Ahora soy capaz de hacer lo mismo con las <span class="about__text--resalt">webs</span>!</p><br>
        <p>Me gusta <span class="about__text--resalt">trabajar en equipo</span>, pienso que intercambiando opiniones siempre se llega a tomar la mejor decisión y siempre intento <span class="about__text--resalt">aportar lo mejor de mi</span>.</p>
    </div>

</div>