<div>
    <img src="" alt="Foto de Noelia">
    <p>Durante toda mi vida, aplicaba como un mantra eso de "más vale lo malo conocido que lo bueno por conocer"... hasta que decidí tomar la nunca fácil decisión de salir del área de confort, y convertirme en desarrolladora Front-End junior esforzándome por conseguir lo que hasta ahora ha sido mi mayor reto profesional.</p>
    <p>Saliendo del sector de la estética personal, soy maestra en pasar por chapa y pintura a las personas y dejarlas como recién salidas del taller, ¡ahora soy capaz de hacer lo mismo con las webs!</p>
    <p>Me gusta trabajar en equipo, pienso que intercambiando opiniones siempre se llega a tomar la mejor decisión e intento aportar lo mejor de mí para conseguir que, remando todos en la misma dirección, ser capaces de conseguir la mejor versión con la mayor calidad posible de la tarea encomendada.</p>

</div>