<main class="main">
  <h2 class="main__title">mis proyectos</h2>
  <div class="main__projects">
    <div class="main__groups">
      <p class="main__groups__title">proyectos grupales</p>
      <ul class="main__groups__list">
        <li class="main__groups__item">coding nassi</li>
        <li class="main__groups__item">awesome card - java script</li>
        <li class="main__groups__item">awesome card - react</li>
      </ul>
    </div>
  
    <div class="main__owner">
      <p class="main__owner__title">proyectos individuales</p>
      <ul class="main__owner__list">
        <li class="main__owner__item">laberinto</li>
        <li class="main__owner__item">buscador de series</li>
        <li class="main__owner__item">rick y morty</li>
      </ul>
    </div>
  </div>

</main>
