<main class="project">
  <a id="project" class="anchor-helper"></a>
  <h2 class="project__title">mis proyectos</h2>
  <div class="project__projects">
    <div class="project__groups">
      <h3 class="project__groups__title">proyectos grupales</h3>
      <ul class="project__groups__list">
        <li class="project__groups__item">
          <p class="project__groups__name">coding nassi</p>
          <img class="project__groups__image" src="../assets/images/codingNassi.jpg" alt="coding nassi web">
        </li>
        <li class="project__groups__item">
          <p class="project__groups__name">awesome card - java script</p>
          <img class="project__groups__image" src="../assets/images/cardToGo.jpg" alt="card to go web">
        </li>
        <li class="project__groups__item">
          <p class="project__groups__name">awesome card - react</p>
          <img class="project__groups__image" src="../assets/images/react-ivas.jpg" alt="react-ivas web">
        </li>
      </ul>
    </div>
  
    <div class="project__owner">
      <p class="project__owner__title">proyectos individuales</p>
      <ul class="project__owner__list">
        <li class="project__owner__item">
          <p class="project__groups__name">laberinto</p>
          <img class="project__groups__image" src="../assets/images/laberinto.jpg" alt="laberinto web">
        </li>
        <li class="project__owner__item">
          <p class="project__groups__name">buscador de series</p>
          <img class="project__groups__image" src="../assets/images/buscaSeries.jpg" alt="buscador de series web">
        </li>
        <li class="project__owner__item">
          <p class="project__groups__name">rick y morty</p>
          <img class="project__groups__image" src="../assets/images/rick&morty.jpg" alt="rick y morty web">
        </li>
      </ul>
    </div>
  </div>

</main>
