<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Portfolio de Noelia</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/main.css" />
    <script src="https://kit.fontawesome.com/4679bfcb84.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="page">
      <partial src="_header.html"></partial>
      <partial src="_name.html"></partial>
      <partial src="_aboutMe.html"></partial>
      <partial src="_project.html"></partial>
      <partial src="_footer.html"></partial>
    </div>
  </body>

</html>
