.about{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &__image {
    width: 50%;
    border-radius: 50%;
    border: solid 4px rgb(94, 7, 81); 

    }

    &__text {
        padding: 30px;
        text-align: center;
        color: rgb(94, 7, 81);

    }

    &__text--resalt{
        font-weight: bolder;
        color: rgb(182, 16, 157);

    }
}
