a {
    text-decoration: none;
    color: whitesmoke;
}

.menu{
    
    // border: solid 2px blue;
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    position: fixed;
    width: 100vw;
    height: 80px;
    border-radius: 5px;
    background-color: rgb(222, 163, 226);



    &__list {
        // border: solid 2px #fabafa;
        list-style: none;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        align-items: center;
        justify-content: space-between;
        padding:3px;
        width: 100vw;


    }

    &__item {
        // border: solid 2px green;
        text-transform: uppercase;
        font-family: 'Gloria Hallelujah', cursive; 
       }
}

@media all and (min-width: 768px) {
    .menu {

        height: 65px;

        
        &__list {
            flex-direction: row;
            justify-content: flex-end;
        }

        &__item {
            margin-right: 30px;
        }
    }
}
