.data{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 125px 15px 0px 15px;


    &__name{
        text-align: center;
        text-transform: capitalize;
        font-size: 50px;
        color: rgb(94, 7, 81); 
    }
    
    &__work{
        text-transform: capitalize;
        font-size: 20px;
        color: rgb(128, 12, 83);
    }

}