.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;

    &__title{
        text-transform: uppercase;
        color: rgb(94, 7, 81);

    }

    &__projects {
        margin-top: 20px;
    }

    &__groups {
        display: flex;
        flex-direction: column;

        &__title {
            margin-bottom: 16px;
            text-align: center;
            text-transform: capitalize;
            text-decoration: underline;
            color: rgba(94, 7, 81, 0.699);
            font-weight: bolder;
            font-size: 20px;
        }

        &__list {
            list-style: none;
            color:  rgb(182, 16, 157);
        }

        &__name {
            text-transform: capitalize;
            font-weight: bolder;
        }

        &__image {
            border-radius: 10px;
            border: solid 2px rgb(94, 7, 81);
            width: 250px;
        }
    }

    &__owner {
        display: flex;
        flex-direction: column;

        &__title {
            margin-top: 20px;
            margin-bottom: 16px;
            text-align: center;
            text-transform: capitalize;
            text-decoration: underline;
            color: rgba(94, 7, 81, 0.699);
            font-weight: bolder;
            font-size: 20px;
        }

        &__list {
            list-style: none;
            color:  rgb(182, 16, 157);
        }
    }


}

